body {
  background: black;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  background: black;
  height: 8rem;
}

.nav-bar-items {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-btn {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 2.8rem;
  height: 2.2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.menu-btn:hover,
.menu-btn:focus,
.menu-btn:active {
  outline: none;
  opacity: 0.8;
}

.line {
  width: 100%;
  height: 2px;
  background: #fff;
}
.side-drawer {
  display: none;
  position: fixed;
  background: black;
  width: 100%;
  height: 100%;
  right: 0;
  z-index: 100;
  /* margin-top: -20px; */
}

.side-drawer-items {
  background: black;
  margin-top: 1rem;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side-drawer-items a {
  padding: 10px;
}

.smile {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  z-index: -5;
}

.hello {
  font-size: 5.5rem;
  color: #fff;
}

.about-text-ctn {
  min-width: 360px;
  color: #fff;
  z-index: 70;
}

.about-text-ctn p {
  font-size: 1.05rem;
  opacity: 0.85;
  text-align: left;
}

.projects-ctn {
  background: rgba(225, 225, 225, 0.08);
}

.section {
  /* position: absolute; */
  /* margin-top: 6rem; */
  height: 96vh;
}

.crd {
  background-color: white;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.project-img {
  width: 100%;
  height: 100%;
}

.home {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background: rgb(0, 0, 0);
  background: linear-gradient(45deg, rgba(0, 0, 0, 1) 42%, rgba(77, 77, 77, 1) 100%); */
}

.project-description {
  color: #fff;
  opacity: 0.7;
}

.header-ctn {
  height: 50%;
  width: 100%;
  margin-left: -50px;
  padding: 1rem;
}

.bgImg {
  width: 500px;
  height: 500px;
  opacity: 0.67;
}

.nav-item {
  color: #fff;
  cursor: pointer;
  font-size: 0.95rem;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
.nav-item:hover {
  opacity: 0.8;
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
}
.overlay a {
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
.overlay span {
  background: rgba(225, 225, 225, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.overlay a:hover {
  opacity: 0.6;
}

.active {
  opacity: 1;
  border-bottom: 1px solid #fff;
}

.icon {
  background: rgba(225, 225, 225, 0.3);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.icon:hover {
  opacity: 0.5;
}

.icons-ctn {
  height: 2.5rem;
}

.description {
  color: white;
  font-size: 1.3rem;
  opacity: 0.8;
}
.job-title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bolder;
  border-bottom: 1.3px solid #1de9b6;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 0.7rem;
  color: white;
  /* opacity: 0.8; */
  z-index: -1;
}

.footer p {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.5);
}

.name {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-left: 0.2rem;
  color: #1de9b6;
  font-weight: bolder;
}

@media screen and (max-width: 850px) {
  .home {
    background: url('../img/hoodie.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-ctn {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
  .details-ctn {
    margin-left: 1rem;
    margin-top: 1rem;
    /* height: 50%; */
  }
  .description {
    font-size: 1.3rem;
  }
  .job-title {
    font-size: 1.4rem;
  }
  .bgImg {
    display: none;
  }
  .smile {
    opacity: 0.65;
  }

  .about-text-ctn {
    z-index: 100;
    margin-bottom: 12rem;
  }

  .about-text-ctn p {
    text-align: center;
  }

  .menu-btn {
    display: flex;
  }
  .nav-bar-items {
    display: none;
  }
  .footer {
    /* z-index: 1; */
    /* opacity: 0.9; */
  }
  .side-drawer {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .about-text-ctn {
    margin-bottom: 15rem;
  }
  .menu-btn {
    display: flex;
  }
  .side-drawer {
    display: block;
  }
}
